@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 153);
    color: whitesmoke;
    margin: 1em;
}

p{
    margin: 1em;
}

p#resposta{

  font-size: 1.4em;
  margin-left: 15px;
}

button {
    background-color: rgb(52, 175, 68);
    color: whitesmoke;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 1em;
}